.listItem{
      list-style: none;
      font-size: 1rem;
      padding:  .5rem;
      margin-top: 1rem;
      cursor: pointer;
      background: #6c6cfc;
      color:white;
      display:flex;
      align-items: center;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}